body{
margin:0;
overflow-x: hidden;
color: #ecf0f6;
background-color: #ecf0f6;
}
img{
max-width: 100%;
height: auto;
display: block;
}
.grid-container {
 display: grid;
 grid-template-columns: 3fr 3fr;
 grid-auto-rows: auto;
 gap: 30px;
 max-width: 100%;
 overflow-x: hidden;
}

.grid-item {
 padding: 5px;
 overflow: hidden;
 background-color: #ecf0f6;
}
*{
box-sizing: border-box;
}
h2{
color: #c1d5e5;
}
h1{
color: #f3edd7;
}
.bg-image{
position: absolute;
top:0;
left:20;
mask-image: radial-gradient(circle, black 60%, transparent 100%);
-webkit-mask-image: radial-gradient(circle, black 60%, transparent 100%);
width: 20%;
height: 20%;
object-fit: cover;
z-index:0;
}
.text{
position:relative;
top: -20px;
left:50px;
z-index:1;
}
